* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}
.type-222 {
  background-color: #f8f8f8;
  padding-top: 80px;
  width: 100%;
  max-width: 100vw;
  display: block;
  padding-bottom: 40px;
  height: 1012.67px;
}
.type-222 .container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.type-222 .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.type-222 .container .row .col {
  padding-left: 12px;
  padding-right: 12px;
}
.type-222 .container .row .l-12 {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.type-222 .container .row .l-12 .history__title {
  position: relative;
  margin: 0;
  line-height: 40px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: -6px;
}
.type-222 .container .row .l-12 .history__title::before {
  position: absolute;
  content: '';
  background-color: #0000ff;
  height: 2px;
  width: 50px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-25px);
}
.type-222 .container .row .l-12 .history__blockLeft {
  position: relative;
  width: 50%;
  margin-bottom: 20px;
  float: left;
}
.type-222 .container .row .l-12 .history__blockLeft .history__separator {
  width: 2px;
  background: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.type-222 .container .row .l-12 .history__blockLeft .history__circleWrapper {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  right: -11px;
}
.type-222 .container .row .l-12 .history__blockLeft .history__circleWrapper .history__circle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: calc(25%);
  top: calc(25%);
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent {
  margin-right: 30px;
  border: 1px solid #dcdcdc;
  background: #fff;
  position: relative;
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent .history__blockLeftContent {
  margin-left: 80px;
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent .history__blockLeftContent .history__blockLeftText {
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent .history__blockLeftDate {
  position: absolute;
  width: 80px;
  height: 100%;
  color: #fff;
  background-color: #03a9f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent .history__blockLeftDate .history__blockLeftText {
  font-size: 14px;
  letter-spacing: 0;
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent::before {
  position: absolute;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #dcdcdc;
  border-right: 0 solid #dcdcdc;
  border-bottom: 15px solid transparent;
  top: 26.5px;
  content: " ";
}
.type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent::after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.type-222 .container .row .l-12 .history__blockRightFirst {
  margin-top: 60px !important;
}
.type-222 .container .row .l-12 .history__blockRight {
  position: relative;
  width: 50%;
  float: right;
  margin-top: 20px;
}
.type-222 .container .row .l-12 .history__blockRight .history__separator {
  width: 2px;
  background: #fff;
  height: 100%;
  position: absolute;
  left: -2px;
  top: 0;
}
.type-222 .container .row .l-12 .history__blockRight .history__circleWrapper {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  left: -13px;
}
.type-222 .container .row .l-12 .history__blockRight .history__circleWrapper .history__circle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: calc(25%);
  top: calc(25%);
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent {
  margin-left: 30px;
  border: 1px solid #dcdcdc;
  background: #fff;
  position: relative;
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent .history__blockRightContent {
  margin-right: 80px;
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent .history__blockRightContent .history__blockRightText {
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 0;
  margin: 0;
  line-height: 1.5;
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent .history__blockRightDate {
  right: 0;
  top: 0;
  position: absolute;
  width: 80px;
  height: 100%;
  color: #fff;
  background-color: #03a9f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent .history__blockRightDate .history__blockRightText {
  font-size: 14px;
  letter-spacing: 0;
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent::before {
  top: 26.5px;
  position: absolute;
  left: -14.6px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #dcdcdc;
  border-left: 0 solid #dcdcdc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.type-222 .container .row .l-12 .history__blockRight .history__blockRightParent::after {
  top: 27px;
  position: absolute;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
@media (max-width: 767px) {
  .type-222 .container {
    background-color: transparent;
  }
  .type-222 .container .row .l-12 {
    display: flex;
    flex-direction: column;
  }
  .type-222 .container .row .l-12 .history__blockLeft {
    width: 100% !important;
    margin: 0 !important;
  }
  .type-222 .container .row .l-12 .history__blockLeft .history__separator,
  .type-222 .container .row .l-12 .history__blockLeft .history__circleWrapper {
    display: none;
  }
  .type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent {
    margin: 0;
  }
  .type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent::after {
    content: "";
    position: absolute;
    display: none;
  }
  .type-222 .container .row .l-12 .history__blockLeft .history__blockLeftParent::before {
    content: "";
    position: absolute;
    display: none;
  }
  .type-222 .container .row .l-12 .history__blockRightFirst {
    margin-top: 0 !important;
  }
  .type-222 .container .row .l-12 .history__blockRight {
    width: 100% !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
  .type-222 .container .row .l-12 .history__blockRight .history__separator,
  .type-222 .container .row .l-12 .history__blockRight .history__circleWrapper {
    display: none;
  }
  .type-222 .container .row .l-12 .history__blockRight .history__blockRightParent {
    margin: 0;
  }
}
